*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* above reset css */
body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}
.top-menu {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    right: 0;
    opacity: 0.5;
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 0 20px;
    font-size: 20px;
}
.menu a:hover {
    color: red;
    transition: 0.25s linear;
}
.search {
    position: relative;
}
.search i {
    color: white;
    padding-right: 50px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.more-band {
    position: relative;
}
.more-band-text {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}
.more-band-text h1 {
    font-size: 50px;
    font-weight: bold;
}
.more-band-text h2 {
    font-size: 30px;
}
.contact {
    width: 100%;
}
.row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.container {
    width: 100%;
    padding: 0;
    margin: 0;
}
.text {
    margin: 0 100px;
    text-align: justify;
}
.text h2 {
    font-size: 30px;
    font-weight: bold;
}
.text p {
    font-size: 18px;
}