*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* above reset css */
body {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    right: 0;
    opacity: 0.5;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    font-size: 20px;
}

.menu a:hover {
    color: red;
    transition: 0.25s linear;
}

.search {
    position: relative;
}

.search i {
    color: white;
    padding-right: 50px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.more-band {
    position: relative;
}

.more-band-text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 5px 2px 4px grey;
}
.btn {
    margin-top: 20px;
}
.btn-band {
    padding: 5px 15px;
    border-radius: 8px;
    border: 0px solid white;
    background-color: white;
    color: black;
    text-decoration: none;
}
.btn-band:hover {
    background-color: aqua;
}
.img-body {
    object-fit: cover;
    height: auto;
}
.box-head {
    text-align: center;
    
}
.social-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;

}
.like, .replie {
    padding: 5px 10px;
    border: 0px solid #8080804d;
    color: black;
}
.like > a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background-color: black;
}
.replie > a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background-color: black;
}
.replie-number {
    background-color: white;
    color: black;
    padding: 5px 10px;
}
.like-text {
    padding: 5px 10px;
}

.bands-img {
    object-fit: cover;
}

.more-band-text h1 {
    font-size: 50px;
    font-weight: bold;
}

.more-band-text h2 {
    font-size: 30px;
    font-weight: bold;
}

.contact {
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.text {
    margin: 0 100px;
    text-align: justify;
}

.text h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.text p {
    font-size: 18px;
    text-indent: 50px;
    margin-top: 30px;
}

.container {
    text-align: center;
    padding: 24px 32px;
}

.container i,
p {
    font-size: 20px;
}

.footer {
    background-color: aliceblue;
}