/* .container {
    margin: 300px 600px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 100px 100px;
    
}
.row {
    display: flex;
    justify-content: space-around;
}
.left {
    float: left;
}
.center {
    text-align: center;
}
.row-padding {
    display: flex;
} */
.contact {
    position: relative;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.row {
    display: flex;
    justify-content: space-around;
}
.left {
    float: left;
}
.center {
    text-align: center;
}
.row-padding {
    display: flex;